<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="stylesheet" href="css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
  <title><%= title || "Stair_Rite" %></title>
   <script src="/scripts/main.js" defer></script>
</head>
<body>
<%- include("partials/header.ejs") %>

  <main>
    <%- body %>
  </main>

<%- include("partials/faq.ejs") %>
<%- include("partials/footer.ejs") %>
</body>
</html>